@font-face {
  font-family: RobotoCondenced;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  color: white;
}

body {
  font-size: 20px;
  font-family: 'RobotoCondenced';
  text-align: center;
}
