
.button {
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  background-color: rgb(244, 125, 255);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  margin: 10px;
}
