
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  overflow: auto;
}

.dashboard-block {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 130px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 5px;
  text-align: start;
  justify-content: start;
  align-content: flex-start;
}

.dashboard-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.block-title {
  font-size: 15px;
  font-weight: bold;
}

.block-header {
  font-size: 22px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gradient-color-blue {
  background-image: linear-gradient(to bottom right, rgb(0, 183, 255), rgb(0, 180, 60));
}

.gradient-color-purple {
  background-image: linear-gradient(to bottom right, rgb(120, 0, 175), rgb(255, 0, 242));
}

.gradient-color-yellow {
  background-image: linear-gradient(to bottom right, rgb(225, 0, 255), rgb(255, 187, 0));
}
